[submodule "hector_slam"]
	path = hector_slam
	url = git@github.com:tu-darmstadt-ros-pkg/hector_slam.git
[submodule "ROSMaster/navigation"]
	path = ROSMaster/navigation
	url = git@github.com:ros-planning/navigation.git
[submodule "ROSMaster/hector_slam"]
	path = ROSMaster/hector_slam
	url = git@github.com:tu-darmstadt-ros-pkg/hector_slam.git
[submodule "ROSMaster/slam_gmapping"]
	path = ROSMaster/slam_gmapping
	url = git@github.com:ros-perception/slam_gmapping.git
[submodule "ROSMaster/temp_pi/rplidar_ros"]
	path = ROSMaster/temp_pi/rplidar_ros
	url = git@github.com:robopeak/rplidar_ros.git
