<launch>
    <node pkg="scripts" type="wheelController" name="wheelController" output="screen">
    </node>
    <node pkg="scripts" type="laser_avoider_node.py" name="laser_avoider_node" output="screen">
    </node>

    <node
    pkg="scripts"
    type="mode1_nav.py"
    name="mode1_nav"
    output="screen"
    respawn="true"
    />
    
</launch>
