<!-- Ros launch allows you to launch multiple nodes without having to do it individually in terminal -->
<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find worlds)/gazebo_worlds/MazeWorld.world"/>
    <!-- more default parameters can be changed here -->
  </include>
  

 <!-- Robot description from URDF -->
 <!-- find folder name then add path -->
 <!-- cat $(find MIE444_ws)/src/MIE444-MazeNavigatingRover/ROSMaster/worlds/models/robot/urdf/rover.urdf"/> -->
 <!-- LOAD THE URDF FILE INTO THE PARAMETER SERVER -->
  <!-- <param name="robot_description" command="cat $(find worlds)/models/robot/urdf/rover.urdf"/> -->

  <!-- CREATING A STATIC TRANSFORM PUBLISHER BETWEEN THE LIDAR LINK AND BASE LINK -->
  <!-- name="base_link"> xyz="0 0 0" -->
  <!-- name="lidar_joint" type="continuous"> xyz="0.00674979600000013 -0.036576 0.238388" -->

 
 <!-- Gazebo Simulator -->
 <!-- For some reason under args: I change the last word ie the model name from "rover" to "dab" it won't load, since there already exists a model named rover-->
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find worlds)/models/robot/urdf/rover.urdf -urdf -model rover
          -x 1.0692 -y -0.4596 -z 0
          -R 0 -P 0 -Y 1.5707"
    output="screen" />
    <!-- Starting at 15cm from each edge, 1.647 rad -->

</launch>